@charset "UTF-8";

.demo-image {
    width: 100%;
}

.M-box,
.M-box1,
.M-box2,
.M-box3,
.M-box4 {
    position: relative;
    text-align: center;
    zoom: 1;
}

.M-box:before,
.M-box:after,
.M-box1:before,
.M-box1:after,
.M-box2:before,
.M-box2:after,
.M-box3:before,
.M-box3:after,
.M-box4:before,
.M-box4:after {
    content: "";
    display: table;
}

.M-box:after,
.M-box1:after,
.M-box2:after,
.M-box3:after,
.M-box4:after {
    clear: both;
    overflow: hidden;
}

.M-box span,
.M-box1 span,
.M-box2 span,
.M-box3 span,
.M-box4 span {
    float: left;
    margin-left: 6px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #aaaaaa;

    font-size: 12px;
}

.M-box .active,
.M-box1 .active,
.M-box2 .active,
.M-box3 .active,
.M-box4 .active {
    float: left;
    margin-left: 6px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: var(--primary-color);
    color: #fff;
    font-size: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}

.M-box a,
.M-box1 a,
.M-box2 a,
.M-box3 a,
.M-box4 a {
    float: left;
    margin-left: 6px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: #fff;
    border: 1px solid #aaaaaa;
    color: #888888;
    font-size: 12px;
    border-radius: 3px;
}

.M-box a:hover,
.M-box1 a:hover,
.M-box2 a:hover,
.M-box3 a:hover,
.M-box4 a:hover {
    color: #fff;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all .2s ease-in 0s;
}

.M-box .next,
.M-box .prev,
.M-box1 .next,
.M-box1 .prev {
    font-family: "Simsun";
    font-size: 12px;
    font-weight: bold;
}

.now,
.count {
    padding: 0 3px;
    color: var(--primary-color);
}

.eg img {
    max-width: 800px;
    min-height: 500px;
}

.M-box input,
.M-box1 input,
.M-box2 input,
.M-box3 input,
.M-box4 input {
    float: left;
    width: 60px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    border: 1px solid #aaaaaa;
    outline: none;
    color: #888888;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 9px;
}

a {
    text-decoration: none;
}

/*分页*/
.zj-page-css {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid #ecf4ff;
    margin: 0px 4px;
}

.zj-page2-css {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bgColorS);
    margin: 0px 4px;
}

.zj-page3-css {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px;
}

.zj-pageInput-css {
    width: 40px;
    height: 30px;
    padding: 0px 8px;
    margin: 0px 4px;
}

.zj-pageSelect-css {
    height: 30px;
    width: 80px;
    text-align: center;
    margin: 0px 4px;
    border-color: #468FF5;
    outline: none;
}

.page .zj-pageActive {
    background-color: var(--primary-6);
    color: #fff;
    border: 1px solid var(--primary-6);
}

.zj-page-css .fa-angle-left {
    margin: -1px 0px 0px 0px;
}

.zj-page-css .fa-angle-right {
    margin: -1px 0px 0px 4px;
}

.zj-page-selectBox-css {
    width: 90px;
    /* border: 1px solid var(--primary-color); */
}

.zj-page-selectBox-css .select {
    border: none;
}

.zj-page-selectBox-css .styledSelect:after {
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.zj-page-skipBtn-css {
    padding: 0px 8px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--colorW);
    border: 1px solid var(--primary-color);
    margin: 0px 4px;
}

.zj-pageInput-css {
    width: 45px;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    border: 1px solid var(--primary-color) !important;
    margin: 0px 4px;
    outline: none;
}

.zj-svgBox-css {
    min-width: 14px;
    min-height: 14px;
}

.zj-selectPop-checkBox2-css {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #468FF5;
    background-color: #468FF5;
    position: relative;
    box-sizing: border-box;
}

.zj-selectPop5-css {
    position: absolute;
    width: auto;
    min-height: 100px;
    border: 1px solid #468FF5;
    background-color: white;
    top: 32px;
    left: 0px;
    box-sizing: border-box;
    z-index: 1;
    /* height:200px; */
}

.zj-overflowTask-css {
    overflow-y: auto;
    height: 148px;
}

.zj-flexEC-css {
    /*水平靠右，垂直居中*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.zj-lineH28-css {
    line-height: 28px;
}